.head {
	margin-top: 0px;
    background-position: center; 
    height: 266px; 
    background-repeat: no-repeat; 
    background-image: url(Pictures/turismo-no-peru-capa\ \(1\).jpg); 
    color: #FFFFFF; 
    font-size: 100px;
}

.image_circel {

	border-radius: 50%;
    width: 300px;
    height: 300px;
    
}

.Peru {
	margin-left: 45%;
	padding-top: 74px;
	margin-top: 0px;
    width: 191px;
}

.Fortbewegung {
	margin-top: 28px;
	padding-left: 10%;
}

.main{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
}

.main_Infrastruktur{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
}

.main .left{
    width: 20%;
}

.main .middle{
    width: 60%;
}

.main .right{
    width: 20%;
}

.main_Infrastruktur .left{
    width: 10%;
}

.main_Infrastruktur .middle{
    width: 80%;
}

.main_Infrastruktur .right{
    width: 10%;
}

.main .right p{
    float: right;
}

.Bildunterschrift{
    font-size: 16pt;
    

}

.Kultur_point{
    border: 2px;
    border-color: grey;
    border-style: solid;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 5px;
}

.main2{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 15%;
    margin-right: 0%;

}

.middle{
    display: inline;
}

.middle .main2 .left2 {
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 20%;
    /* padding-top: 55%; */

}

.middle .main2 .right2 {
    width: 50%;

}



.middle .main2 .middle2{
    width: 30%;
    /* display: flex;
    align-items: center; */
    padding-left: 2%;
    padding-right: 0%;

}

.p2 {
    padding-left: 5%;
}

.p3 {
    padding-left: 5%;
}



