.head {
	margin-top: 0px;
    background-position: center; 
    height: 266px; 
    background-repeat: no-repeat; 
    background-image: url(Pictures/turismo-no-peru-capa\ \(1\).jpg); 
    color: #FFFFFF; 
    font-size: 100px;
    background-color: grey;
    text-decoration: none;
}

.head a{
    text-decoration: none;
    color: #FFFFFF;
   
}



body{
    margin: 0px;
}

.image_circel {

	border-radius: 50%;
    width: 300px;
    height: 300px;
    
    
}

.Peru {
	margin-left: 45%;
	padding-top: 74px;
	margin-top: 0px;
    width: 191px;
    text-shadow: 5px 5px 10px #000000;
}

.Fortbewegung {
	margin-top: 28px;
	padding-left: 10%;
}

.main{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 3px;
    
}

.main_Infrastruktur{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
}

.main .left{
    width: 20%;
}

.main .middle{
    width: 60%;
    border-left: 4px;
    border-top: 0px;
    border-right: 4px;
    border-bottom: 0px;
    border-color: rgba(167, 167, 167, 0.623);
    border-style: solid;
    border-radius: 5px;
}

.main .right{
    width: 20%;
    
}

.main_Infrastruktur .left{
    width: 20%;
}

.main_Infrastruktur .middle{
    width: 60%;
}

.main_Infrastruktur .right{
    width: 20%;
}

.main .right p{
    /* float: right; */
}

.Bildunterschrift{
    font-size: 16pt;
    

}

.Kultur_point{
    border: 2px;
    border-color: grey;
    border-style: solid;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.main2{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 15%;
    margin-right: 0%;

}

.middle{
    display: inline;
}

.middle .main2 .left2 {
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 20%;
    /* padding-top: 55%; */

}

.middle .main2 .right2 {
    width: 50%;

}



.middle .main2 .middle2{
    width: 30%;
    /* display: flex;
    align-items: center; */
    padding-left: 2%;
    padding-right: 0%;

}

.p2 {
    padding-left: 5%;
}

.p3 {
    padding-left: 5%;
}

.corona {
    padding-left: 10%;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 2px;
    
}

.corona a{
    color: #006eff;
    text-decoration: none;
}

.Ausflugziel{
    padding-left: 10%;
}

.Ausflugziel a{
    color: #00eeff;
    text-decoration: none;
}

.Ausflugziel img {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right_img{
    width: 50%;
}

.right_img img{
    height: 200px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.text_left{
    width: 50%;
}

table, th, td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}

.middle .main3 .left3 {
    width: 50%;


    /* padding-top: 55%; */

}

.middle .main3 .right3 {
    width: 50%;

}

.main3{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 7%;
    margin-right: 0%;

}

.left3 img , .right3 img{
    width: 90%;
    margin-left: 10px;
    
}

.left3 h3 , .right3 h3{
    width: 90%;
    margin-left: 10px;
    
}

img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




